<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Tag">

	<insert id="insert" parameterType="Tag">
		insert into tag(tag_id, product_id, tag_name) values(seq_tag.nextval, #{product_id}, #{tag_name})
	</insert>
	
	<select id="selectByProductId" parameterType="int" resultType="Tag">
		select * from tag where product_id=#{product_id}
	</select>
</mapper>